.strength {
    padding: 1em;
    margin: 1em;
    border: 2px solid #ccc;
    background-color: #ccc;
    border-radius: 2px;
}

.red {
    border: 2px solid #ffcbd1;
    background-color: #ffcbd1;
}

.yellow {
    border: 2px solid #fff9c4;
    background-color: #fff9c4;
}

.green {
    border: 2px solid #c8efd7;
    background-color: #c8efd7;
}
