<div class="d-flex align-items-center justify-content-center">
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h4 class="mt-5 mb-3">Check your password's strength</h4>
        <div>
            <input type='text' class="form-control text-center" id='password' name='password' placeholder='P A S S W O R D' [(ngModel)]='password'><br>
        </div>
        <div>
            <div class="d-flex align-items-center justify-content-center box" data-toggle="tooltip" data-placement="top" title={{this.strengthValues.easy.description}}>
                <div [ngClass]="checkTheStrength('easy')" class="strength border rounded text-center">
                    {{this.strengthValues.easy.name}}
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center box" data-toggle="tooltip" data-placement="top" title={{this.strengthValues.medium.description}}>
                <div [ngClass]="checkTheStrength('medium')" class="strength border rounded text-center">
                    {{this.strengthValues.medium.name}}
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center box" data-toggle="tooltip" data-placement="top" title={{this.strengthValues.strong.description}}>
                <div [ngClass]="checkTheStrength()" class="strength border rounded text-center">
                    {{this.strengthValues.strong.name}}
                </div>
            </div>
        </div>
    </section>
</div>